{% extends "layout.html" %}

{% block body %}
<div class="container-fluid vh-100">
    <div class="container">
        <!-- Event Section -->
        <div class="mb-5" style="border: 2px solid rgb(238, 101, 42); border-radius: 3px; padding: 15px;">
            <h3 class="text-center mb-3">Past Events</h3>
            <table class="table table-bordered table-striped">
                <thead class="table-dark">
                    <tr>
                        <th>Event ID</th>
                        <th>Event Name</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in events %}
                    <tr>
                        <td>{{ event['event_id'] }}</td>
                        <td>{{ event['event_name'] }}</td>
                        <td>{{ event['event_date'] }}</td>
                        <td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
